{% comment %}
All Products Collection
{% endcomment %}

<div class="default-collection">
  <div class="row">
    {% paginate collection.products by 10 %}

      {% render 'product-sorting' %}

      {% render 'list-tags' %}

      {% if collection.description.size > 0 %}
        {{ collection.description }}
      {% endif %}

      {% comment %} PRODUCTS {% endcomment %}
      <ul class="products">
        {% for product in collection.products %}
          <li class="item">
            <div class="image" onclick="window.location='{{ product.url }}';">
              <img src="{{ product.featured_image | image_url: width: 800 }}" alt="{{ product.title }} by {{ product.vendor }}" />
            </div>
            <div class="data">
              <div class="l">
                <div class="artist">
                  <h3>
                    <a href="{{ product.url }}" title="{{ product.title }} by {{ product.vendor }}">
                      {{ product.vendor }}
                    </a>
                  </h3>
                </div>
                <div class="title type-writer">
                  <h2>
                    <a href="{{ product.url }}" title="{{ product.title }} by {{ product.vendor }}">
                      {{ product.title }}
                    </a>
                  </h2>
                </div>
              </div>
              <div class="r">
                <div class="price type-writer">{{ product.price | money_without_trailing_zeros }}</div>
              </div>
            </div>
            
          </li>
        {% endfor %}
      </ul>


      {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
      {% endif %}

    {% endpaginate %}
  </div>
</div>
