{% comment %}

  Product Archives
  
{% endcomment %}

<div class="default-collection">

  {% render 'breadcrumbs' %}

  <div class="row">
    {% paginate collection.products by 10 %}

      {% if collection.handle == 'dais-records' %}

        {% render 'product-sorting--dais' %}

      {% else %}

        {% render 'product-sorting' %}
        {% render 'list-tags' %}

      {% endif %}


      {% comment %} Description {% endcomment %}
      {% if collection.description.size > 0 %}
        <div class="collection-description">
          <p>{{ collection.description }}</p>
        </div>
      {% endif %}

      {% comment %} Products {% endcomment %}
      <section class="product-section">
        <ul class="products">
          {% for product in collection.products %}
            <li class="item">

              <div class="image" onclick="window.location='{{ product.url }}';">
                {% if product.featured_image != blank %}
                  <img src="{{ product.featured_image | image_url: width: 800 }}" alt="{{ product.title }}" loading="lazy" />
                {% else %}
                  {{ 'image' | placeholder_svg_tag }}
                {% endif %}
              </div>
              
              <div class="data">
                <div class="l">
                  <div class="artist">
                    <h3>
                      <a href="{{ product.url }}" title="{{ product.title }} by {{ product.vendor }}">
                        {{ product.vendor }}
                      </a>
                    </h3>
                  </div>
                  <div class="title type-writer">
                    <h2>
                      <a href="{{ product.url }}" title="{{ product.title }} by {{ product.vendor }}">
                        {{ product.title }}
                      </a>
                    </h2>
                  </div>
                </div>
                <div class="r">
                  <div class="price type-writer">{{ product.price | money_without_trailing_zeros }}</div>
                </div>
              </div>
              
            </li>
          {% endfor %}
        </ul>
      </section>


      {% comment %} Pagination {% endcomment %}
      {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
      {% endif %}

    {% endpaginate %}
  </div>
</div>
