{% comment %} 
  Single Artist Page
  This is the page with the that shows for a single artist

  To Do:

  Figure out Social Media inputs
{% endcomment %}

<div class="single-artist">
  <div class="single-artist--wrapper">


    {% comment %} Images {% endcomment %}
    <div class="left">
      {% for product in collection.products %}
        {% for nice in collection.metafields.dais.artist_gallery.value %}
          <img src="{{ nice | image_url: width: 1000 }}" alt="{{ product.title }}" />
        {% endfor %}
      {% endfor %}
    </div>

    {% comment %} Product Data {% endcomment %}
    <div class="right">

      {% comment %} Header {% endcomment %}
      <header class="artist-header">
        <div class="title">
          <h1 class="artist-name">
            {{ collection.title }}
          </h1>
        </div>

        <div class="description">
          <p class="artist-description">
            {{ collection.description }}
          </p>
        </div>
      </header>

      {% comment %} Products {% endcomment %}
      <div class="products">

        <div class="title">
          <h3>Products</h3>
        </div>

        {% paginate collection.products by 10 %}

          <ul class="artist-products">
            {% for product in collection.products %}
    
              <li class="item">
                <div class="image">
                  <a href="{{ product.url }}" title="{{ product.title }}">
                    <img src="{{ product.featured_image | img_url: '700x' }}" alt="{{ product.title }}" />
                  </a>
                </div>
                <div class="title">
                  <a href="{{ product.url }}" title="{{ product.title }}">
                    {{ product.title }}
                  </a>
                </div>
              </li>
    
            {% else %}
    
              <li>There are no products in this view.</li>
    
            {% endfor %}
          </ul>
    
          {% if paginate.pages > 1 %}
            {{ paginate | default_pagination }}
          {% endif %}

        {% endpaginate %}
      </div>
    </div>



  </div>
</div>